modules = ["web", "bash", "nodejs-22"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[userenv]

[userenv.shared]
CLOUDFLARE_ACCOUNT_EMAIL = "info@migradia.com"
CLOUDFLARE_ACCOUNT_ID = "4a8511d021c1afe4a6b7f14975b73e53"
